* {
  margin: 0;
  padding: 0;
  border: #ffff;
  /* background-image: linear-gradient(to bottom, #410b24, #450b27, #490b2a, #4c0a2d, #500a30, #520b33, #550d36, #570e39, #59113c, #5b143e, #5c1741, #5e1a44); */
  background: #dfecebd2;
}

textarea:focus, input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}